[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/crc32c"]
	path = third_party/crc32c
	url = https://github.com/google/crc32c.git
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = https://github.com/google/snappy.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "third_party/tcmalloc"]
	path = third_party/tcmalloc
	url = https://github.com/gperftools/gperftools.git
